* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Helvetica;
}


.calculadora {
    width: 400px;
    height: 470px;
    margin: 0 auto;
    text-align: center;
    background-color: #eeeeee;
    padding-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00000075;
}

#resultado {
    width: 77%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.calculadora button {
    width: 20%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.calculadora button:hover {
    background-color: #000000;
    color: #ffffff;
}

.calculadora .operador {
    background-color: crimson;
    color: #ffffff;
}

.calculadora .operador:hover {
    background-color: blue;
    color: #ffffff;
}

#igual {
    width: 41%;
    background-color: cadetblue;
}

#igual:hover {
    background-color: rgb(182, 223, 224);
    color: #000000;
}

#limpar {
    width: 62%;
    background-color: cadetblue;
}

#limpar:hover {
    background-color: rgb(182, 223, 224);
    color: #000000;
}